<div class='post-content'>
    <p> AEGEE (<strong>A</strong>ssociation des <strong>É</strong>tats <strong>G</strong>énéraux des <strong>É</strong>tudiants de l’<strong>E</strong>urope) 

    {{#if activeHome}}DIOOOO HOME{{/if}}
    {{#if activeAbout}}DIOOOO ABOUT{{/if}}
    {{#if activeContact}}DIOOOO CONTACT{{/if}}

    is one of Europe’s biggest interdisciplinary student organisations. As a non-governmental, politically independent, and non-profit organisation AEGEE is open to students and young people from all faculties and disciplines. Founded in 1985 in Paris, today AEGEE has grown to a Network of 13000 friends, present in 200 cities in 40 countries all over Europe.</p>
<p>AEGEE puts the idea of a unified Europe into practice. Operating without a national level, AEGEE brings 13000 students from 40 different countries directly in touch with each other.</p>
<h3 class="colour blue">Vision</h3>
<p>AEGEE strives for a democratic, diverse and borderless Europe, which is socially, economically and politically integrated, and values the participation of young people in its construction and development.</p>
<p>&nbsp;</p>
<h3 class="colour blue">Mission</h3>
<p>AEGEE empowers students and young people in Europe to take an active role in society. It creates a space for dialogue and learning opportunities as well as acts as their representative towards decision-makers. Moreover, AEGEE strengthens mutual understanding and brings Europe closer to young people.</p>
<h3 class="colour blue">Means</h3>
<h3 class="colour orange"><strong>Intercultural Exchange</strong></h3>
<p>AEGEE creates a space for members of different backgrounds to meet and learn about cultural differences, in order to foster mutual understanding. AEGEE supports mobility and encourages young people to cross borders and make new friends, to break stereotypes and strengthen tolerance, respect and solidarity.</p>
<h3 class="colour red"><strong>Personal Development and Non Formal Education</strong></h3>
<p>AEGEE provides learning opportunities for the development of its members through non-formal education and informal learning. By participating in trainings courses, workshops, and active involvement in the organisation, our members improve their competences (such as leadership skills, communication skills and team management) which will be useful for their future lives.</p>
<h3 class="colour green"><strong>Thematic Projects</strong></h3>
<p>Thematic projects, either local or international, are initiatives developed by members of AEGEE. They deal with current challenges in the European society, create awareness among young people and propose solutions from a student point of view. The outcome of this work has an impact in- and outside of AEGEE.</p>
<h3 class="colour purple"><strong>Advocacy and Policy</strong></h3>
<p>AEGEE gathers the opinions of European students and represents them towards  stakeholders through campaigns, lobby actions, conferences and membership in bigger advocacy platforms. In addition, AEGEE informs students and young people about the impact which European policies have in their lives and opportunities they offer</p>
<h3 class="colour blue"><strong>Forum for Discussion</strong></h3>
<p>AEGEE provides a space for young Europeans to discuss and exchange different points of view with a European perspective,in order to find a common ground. This exchange of ideas happens in all our activities but a special place for them is our Working groups, conferences and General Assemblies (EBM &amp; Agora).</p>
                            
</div>