<div class='post-content'>
                        <p> AEGEE-Europe&#8217;s Head Office is located in Brussels, from where its full time elected board members manage and represent the association.</p>
<div class="line"></div>
<h3 style="text-align: center;">Address</h3>
<p style="text-align: center;">AEGEE-Europe<br />
Rue du Noyer / Notelaarsstraat 55<br />
1000 Brussels, Belgium</p>
<div style="text-align: center;"><strong>Phone secretariat:</strong> +32 2 246 0320</div>
<div style="text-align: center;"><strong>Mobile secretariat:</strong> <a href="tel:%2B32%20483%20675%20625">+32 483 675 625</a> (BASE)<br />
<strong>E-mail:</strong> <a href="mailto:headoffice@aegee.org" target="_blank">headoffice@aegee.org</a><br />
<strong>Fax:</strong> +32 2 246 0329</div>
<div style="text-align: center;"><a style="font-size: 0.9em;" href="getting-to-the-headoffice">Instructions for getting to the Head Office</a></div>
<div style="text-align: left;"> <div class="line"></div></div>
<h3 class="colour blue">Comité Directeur &#8211; Board of Directors</h3>
<div class="threecol  "><img class="alignnone size-full wp-image-2561" title="Aleksandra Kluczka" src="http://aegee.org/wp-content/uploads/Aleksandra-Kluczka.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><em>President</em><br />
<strong>Aleksandra Kluczka</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:president@aegee.org" target="_blank">president@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0327<br />
<strong>Mobile: </strong>+32 4 875 69303</div><div class="clear"></div> </p>
<div class="threecol  "><img class="alignnone size-full wp-image-2562" title="Svenja van der Tol" src="http://aegee.org/wp-content/uploads/Svenja-van-der-Tol.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><em>Secretary General</em><br />
<strong>Svenja van der Tol</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:svenja.vandertol@aegee.org" target="_blank">svenja.vandertol@aegee.org</a>; <a href="mailto:headoffice@aegee.org" target="_blank">headoffice@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0320<br />
<strong>Mobile: </strong>+32 4 873 61747</div><div class="clear"></div> </p>
<div class="threecol  "><img class="alignnone size-full wp-image-2563" title="Ander Guerrero" src="http://aegee.org/wp-content/uploads/Ander-Guerrero.jpg" alt=""height="300" /></div> <div class="ninecol last ">
<h4><em>Financial Director</em><br />
<strong>Ander Guerrero Ruiz</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:treasurer@aegee.org" target="_blank">treasurer@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0321<br />
<strong>Mobile: </strong>+32 4 873 54564</div><div class="clear"></div> </p>
<div class="threecol  "><img class="alignnone size-full wp-image-2564" title="Réka Salamon" src="http://aegee.org/wp-content/uploads/Reka.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><em>Vice President and Projects Director</em><br />
<strong>Réka Salamon</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:projects@aegee.org" target="_blank">projects@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0325<br />
<strong>Mobile: </strong>+32 4 873 52244 </div><div class="clear"></div> </p>
<div class="threecol  "><img class="alignnone size-full wp-image-2565" title="Anna Gumbau" src="http://aegee.org/wp-content/uploads/Anna-Gumbau.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><em>Communications Director</em><br />
<strong>Anna Gumbau Martínez</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:anna.gumbau@aegee.org" target="_blank">anna.gumbau@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0323<br />
<strong>Mobile: </strong>+32 4 873 54457</div><div class="clear"></div> </p>
<div class="threecol  "> <img class="alignnone size-full wp-image-2566" title="Pablo Hernández" src="http://aegee.org/wp-content/uploads/Pablo-Hernández.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><em>External Relations Director</em><br />
<strong>Pablo Hernández Rodríguez</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:pablo.hernandez@aegee.org" target="_blank">pablo.hernandez@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0324<br />
<strong>Mobile: </strong>+32 4 873 61746</div><div class="clear"></div> </p>
<div class="threecol  "><img class="alignnone size-full wp-image-2567" title="Maryana Semenyak" src="http://aegee.org/wp-content/uploads/Maryana.jpg" alt="" height="300" /></div> <div class="ninecol last ">
<h4><strong><em>Network and Human Resources Director</em><br />
Maryana Semenyak</strong></h4>
<p><strong>E-mail:</strong> <a href="mailto:network@aegee.org" target="_blank">network@aegee.org</a><br />
<strong>Office phone:</strong> +32 2 246 0326<br />
<strong>Mobile: </strong>+32 4 873 52738</div><div class="clear"></div>
<h3 class="colour purple">Calling the Headoffice from Abroad</h3>
<ul>
<li><strong>Germany (+49):</strong> 0241-4133152 (no fax, geographic number)</li>
<li><strong>Greece (+30):</strong> 211-7707110 (no fax, geographic number)</li>
<li><strong>Italy (+39):</strong> 011-23414759 (no fax, geographic number)</li>
<li><strong>United Kingdom (+44):</strong> 020-32981148 (no fax, geographic number)</li>
<li><strong>Skype:</strong> aegee.headoffice</li>
<li><strong>SIP:</strong> <a href="sip:300@aegee.org" target="_blank">300@aegee.org</a></li>
</ul>
<h3 class="colour pink">Registration Data</h3>
<p>AEGEE-Europe is registered as a non-profit youth NGO in both France and Belgium:</p>
<ul>
<li>ASS 74795 P (Préfecture de Police, Paris)</li>
<li>AISBL 472022289 (Ministère de la Justice/Moniteur Belge)</li>
</ul>
<h3 class="colour orange">Banking Details</h3>
<p><strong>AEGEE-Europe&#8217;s bank account details are the following:</strong></p>
<p><strong>Bank: </strong>ING Belgium SA/NV</p>
<p><strong>Account number: </strong><br />
310 &#8211; 1586245 &#8211; 90<br />
SWIFT: BBRUBEBB<br />
IBAN: BE 34 31 01 5862 4590</p>
                            
                    </div>