<!-- begin #page-container -->
<div id="page-container" class="fade">
    
    
    <!-- begin #home -->
    <div id="home" class="content_home has-bg home">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="/static/img/home-bg.jpg" alt="Home" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container home-content">
            <h1>Welcome to AEGEE Intranet</h1>
            <h3>Online Membership System</h3>
            <p>
                AEGEE is one of Europe’s biggest interdisciplinary student organisations, striving for a democratic, diverse and borderless Europe. 
            </p>
            <a href="#about" data-click="scroll-to-target" class="btn btn-theme">Find More</a> <a href="register" class="btn btn-outline">Register</a><br />
            <br />
            
        </div>
        <!-- end container -->
    </div>
    <!-- end #home -->
    
    <!-- begin #about -->
    <div id="about" class="content_home" data-scrollview="true">
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title">About Us</h2>
            <p class="content-desc">
                As a non-governmental, politically independent, and non-profit organisation AEGEE is open to students and young people from all faculties and disciplines. 
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-6">
                    <!-- begin about -->
                    <div class="about">
                        <h3>Our Story</h3>
                        <p>
                            AEGEE (Association des États Généraux des Étudiants de l’Europe)   is one of Europe’s biggest interdisciplinary student organisations. As a non-governmental, politically independent, and non-profit organisation AEGEE is open to students and young people from all faculties and disciplines. Founded in 1985 in Paris, today AEGEE has grown to a Network of 13000 friends, present in 200 cities in 40 countries all over Europe. 
                        </p>
                        <p>
                            AEGEE puts the idea of a unified Europe into practice. Operating without a national level, AEGEE brings 13000 students from 40 different countries directly in touch with each other.
                        </p>
                    </div>
                    <!-- end about -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-6">
                    <h3>Our Vision</h3>
                    <!-- begin about-author -->
                    <div class="about-author">
                        <div class="quote bg-silver">
                            <i class="fa fa-quote-left"></i>
                            <h3>AEGEE strives for a democratic, diverse and borderless Europe and values the participation of young people in its construction and development.</h3>
                            <i class="fa fa-quote-right"></i>
                        </div>
                        
                    </div>
                    <!-- end about-author -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-12">
                    <h3>Skills Developed by Members</h3>
                    <!-- begin skills -->
                    <div class="skills">
                        <div class="skills-name">Communication</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width: 77%">
                                <span class="progress-number">77%</span>
                            </div>
                        </div>
                        <div class="skills-name">Teamwork</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: 75%">
                                <span class="progress-number">75%</span>
                            </div>
                        </div>
                        <div class="skills-name">Interpersonal</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-warning" style="width: 74%">
                                <span class="progress-number">74%</span>
                            </div>
                        </div>
                        <div class="skills-name">Flexibility</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" style="width: 70%">
                                <span class="progress-number">70%</span>
                            </div>
                        </div>
                    </div>
                    <!-- end skills -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #about -->

    <!-- begin #milestone -->
    <div id="milestone" class="content_home bg-black-darker has-bg" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="/static/img/milestone-bg.jpg" alt="Milestone" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="number" data-final-number="200">200</div>
                        <div class="title">Antennae</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="number" data-final-number="13000">13000</div>
                        <div class="title">Registered Members</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="number" data-final-number="300">300</div>
                        <div class="title">Events Annually</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="number" data-final-number="80">80</div>
                        <div class="title">Summer Universities</div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #milestone -->
    
   
    
    
    
    <!-- beign #means -->
    <div id="means" class="content_home" data-scrollview="true">
        <!-- begin container -->
        <div class="container">
            <h2 class="content-title">Our Activities</h2>
            <p class="content-desc">
                Through our activities, we empower students and young people in Europe to take an active role in society. We create a space for dialogue and learning opportunities as well as act as their representative towards decision-makers.
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                        <div class="info">
                            <h4 class="title">Intercultural Exchange</h4>
                            <p class="desc">AEGEE creates a space for members of different backgrounds to meet and learn about cultural differences, in order to foster mutual understanding. AEGEE supports mobility and encourages young people to cross borders and make new friends, to break stereotypes and strengthen tolerance, respect and solidarity.</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                        <div class="info">
                            <h4 class="title">Personal Development and Non Formal Education</h4>
                            <p class="desc">AEGEE provides learning opportunities for the development of its members through non-formal education and informal learning. By participating in trainings courses, workshops, and active involvement in the organisation, our members improve their competences (such as leadership skills, communication skills and team management) which will be useful for their future lives.</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
                        <div class="info">
                            <h4 class="title">Thematic Projects</h4>
                            <p class="desc">Thematic projects, either local or international, are initiatives developed by members of AEGEE. They deal with current challenges in the European society, create awareness among young people and propose solutions from a student point of view. The outcome of this work has an impact in- and outside of AEGEE.</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
                        <div class="info">
                            <h4 class="title">Advocacy and Policy</h4>
                            <p class="desc">AEGEE gathers the opinions of European students and represents them towards  stakeholders through campaigns, lobby actions, conferences and membership in bigger advocacy platforms. In addition, AEGEE informs students and young people about the impact which European policies have in their lives and opportunities they offer</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>
                        <div class="info">
                            <h4 class="title">Forum for Discussion</h4>
                            <p class="desc">AEGEE provides a space for young Europeans to discuss and exchange different points of view with a European perspective,in order to find a common ground. This exchange of ideas happens in all our activities but a special place for them is our Working groups, conferences and General Assemblies (EBM & Agora).</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #means -->
    
   
    
   
    <!-- begin #testimonials -->
    <div id="testimonials" class="content_home has-bg bg-green" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="/static/img/client-bg.jpg" alt="Client" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInUp">
            <h2 class="content-title">Our Members Testimonials</h2>
            <!-- begin carousel -->
            <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                <!-- begin carousel-inner -->
                <div class="carousel-inner text-center">
                    <!-- begin item -->
                    <div class="item active">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            For me, AEGEE is like a sandbox, where I can test new marketing methods and realise my project ideas without suppressive corporate limitations. AEGEEans, volunteers are not paid - but not because they are worthless, but because they are priceless.
                            <i class="fa fa-quote-right"></i>
                        </blockquote>
                        <div class="name"> — <span class="text-theme">Tamás Keller, </span>, AEGEE-Budapest</div>
                    </div>
                    <!-- end item -->
                    <!-- begin item -->
                    <div class="item">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.<br />
                            Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
                            <i class="fa fa-quote-right"></i>
                        </blockquote>
                        <div class="name"> — <span class="text-theme">Joe Smith</span>, Developer</div>
                    </div>
                    <!-- end item -->
                    <!-- begin item -->
                    <div class="item">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />
                            fringilla. In sollicitudin ac ligula eget vestibulum.
                            <i class="fa fa-quote-right"></i>
                        </blockquote>
                        <div class="name"> — <span class="text-theme">Linda Adams</span>, Programmer</div>
                    </div>
                    <!-- end item -->
                </div>
                <!-- end carousel-inner -->
                <!-- begin carousel-indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials" data-slide-to="1" class=""></li>
                    <li data-target="#testimonials" data-slide-to="2" class=""></li>
                </ol>
                <!-- end carousel-indicators -->
            </div>
            <!-- end carousel -->
        </div>
        <!-- end containter -->
    </div>
    <!-- end #testimonials -->
    
    <!-- begin #membership -->
    <div id="membership" class="content_home" data-scrollview="true">
        <!-- begin container -->
<div class="container">
    <div class="row">
        <h2 class="content-title">Membership</h2>
        <p class="content-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br>
            sed bibendum turpis luctus eget
        </p>
        <!-- begin pricing-table -->
        <ul class="pricing-table">
            <div class="membership col-lg-4 col-md-4">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>User</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">LIMITED</span>
                            <span class="price-tenure">only few options</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>public Events</li>
                    </ul>
                    <div class="footer mem_footer">
                        <a href="register" class="btn btn-inverse btn-block">Register</a>
                    </div>
                </div>
            </li>
            </div>
            <div class="membership col-lg-4 col-md-4">
            <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>AEGEE Member</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">FULL MEMBER</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>all AEGEE Events</li>
                        <li>Summer University</li>
                        <li>Training Events</li>
                        <li>Thematic Projects</li>
                        <li>AEGEE Newsletter</li>
                    </ul>
                    <div class="footer mem_footer">
                        <a href="register" class="btn btn-inverse btn-block">Register</a>
                    </div>
                </div>
            </li>
            </div>
            <div class="membership col-lg-4 col-md-4">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Alumni</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">AEGEE Alumni</span>
                            <span class="price-tenure">for past AEGEE Members</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Alumni database</li>
                        <li>Back to Brussels</li>
                        <li>Almni Events</li>
                        <li>AEGEE News</li>
                    </ul>
                    <div class="footer mem_footer">
                        <a href="register" class="btn btn-inverse btn-block">Register</a>
                    </div>
                </div>
            </li>
            </div>
        </ul>
    </div>
</div>
        <!-- end container -->
    </div>
    <!-- end #membership -->
            
</div>
<!-- end #page-container -->
