<h2>Hello !!!</h2>

Here you'll be able to rock your AEGEE life. Stay tuned 

<br/><br/><br/>
AEGEE is one of Europe’s biggest interdisciplinary student organisations, striving for a democratic, diverse and borderless Europe. As a non-governmental, politically independent, and non-profit organisation AEGEE is open to students and young people from all faculties and disciplines. Founded in 1985 in Paris, today AEGEE has grown to a Network of 13000 friends, present in 200 cities in 40 countries all over Europe. Through our activities, we empower students and young people in Europe to take an active role in society. We create a space for dialogue and learning opportunities as well as act as their representative towards decision-makers. AEGEE strengthens mutual understanding among young Europeans and brings Europe closer to young people.