<footer class="bs-docs-footer">
	<div class="container" style="background-color:#666; !important;">	
	
		</br>
  		<img class="img-responsive" src="/static/css/logo_rgb_white_transparent_small.png">
  		</br>
	
			
    </div> 
</footer>