<!-- begin #footer -->
    <div id="footer" class="footer">
        <div class="container">
            <div class="footer-brand">
                <div class="footer-brand-logo"></div>
                AEGEE Intranet
            </div>
            <p>
                &copy; Copyright AEGEE Europe 2016 <br />
                An admin &amp; front end theme with serious impact.
            </p>
            <p class="social-list">
                <a href="https://www.facebook.com/aegee/"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="https://www.instagram.com/explore/tags/aegee/"><i class="fa fa-instagram fa-fw"></i></a>
                <a href="https://twitter.com/AEGEE_Europe"><i class="fa fa-twitter fa-fw"></i></a>
                <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
            </p>
        </div>
    </div>
    <!-- end #footer -->