<div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><span class="navbar-logo"></span> AEGEE Intranet</a>
                    
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse pull-left" id="top-navbar">
                    
                </div>
                <!-- end navbar-collapse -->
                
                
            </div>
            <!-- end container-fluid -->
        </div>
